*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

.customLink {
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
  }
  
  .customLinkPressed {
    cursor: pointer;
    opacity: 0.7; 
    transition: opacity 0.2s ease-in-out;
  }
  .unorderedList{
    list-style: none;
    margin: 0;
  }
  .listInside{
    padding-bottom: 7%;
  }

  .category-box {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    color: black;
    padding: 4px 8px;
    z-index: 1;
  }
  
  .date-box {
    position: absolute;
    bottom: 0;
    right: 0;
    background: white;
    color: black;
    padding: 4px 8px;
    z-index: 1;
  }
  